{
  "databases": [
    {
      "scheme": "manager",
      "connect": {
        "type": "mysql",
        "host": "10.0.0.1",
        "port": "3306",
        "user": "root",
        "password": ""
      },
      "tables": [
        "users"
      ]
    }
  ]
}